* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@font-face {
    font-family: 'vitalSignals';
    src: url(./fonts/Over\ There.ttf);
}

img {
    width: 100%;
}

h1 {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    font-size: 1.5rem;
    font-family: 'vitalSignals';
    color: rgb(32, 32, 241);
    text-shadow: darkgray 1px 1px 2px, rgb(200, 240, 250) 1px 1px 3px;
}

.contenedor {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(212, 209, 22);
}

.tabla {
    width: 50%;
    margin: 10px auto 10px;
    border: 4px brown solid;
    background-color: azure;
}

.tablaHead {
    padding: 5px;
    margin: 0 auto;
    font-size: 1.3rem;
    text-transform: capitalize;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px rgba(0, 0, 255, 0.637) solid; */
}

.tablaHead img {
    width: 60%;
    border: cadetblue 1px solid;
    border-radius: 50%;
}

.tablaColumnas {
    display: flex;
    justify-content: space-around;
    border: 1 px blue solid;
    width: 100%;
}

.tablaCol {
    width: 25%;
    padding: 5px;
}

#metricas {
    width: 15%;
}

input {
    max-width: 100%;
    margin: 5px auto;
    padding: 5px;
}

.tablaFooter {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.btn {
    background-color: rgb(0, 204, 255);
    margin: 10px auto;
    width: 50%;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    border-radius: 10px;
}

p {
    font-size: 1.3rem;
    line-height: 35px;
    padding: 2px;
}

@media screen and (max-width: 450px) {
    .tabla {
        width: 100%;
        margin: 30px auto 10px;
        border: 5px brown solid;
        border-radius: 10px;
    }
    #metricas {
        width: 19%;
    }
    p {
        font-size: .8rem;
        line-height: 30px;
        padding: 0;
    }
    input {
        max-width: 100%;
        margin: 5px auto;
        padding: 0px;
    }
    .btn {
        width: 98%;
    }
}